.links-btn {
    border-radius: 50px;
    border-color: #fff;
    color: #24ab99;
    background-color: #250353 !important;
    font-weight: bold;
    font-size: 11px;
    padding-left: auto;
    padding-right: auto;
}

.links-btn :focus{
    border-color: #24ab99 !important;
}
/* © */