.login{
    background-color: #24ab99;
    border-color: #24ab99;
    font-weight: bold;
    min-width: 150px;
    max-height: 45px;
    border-width: 3px;
    border-radius: 30px;
    text-decoration: none;
}

.login:focus {
    box-shadow:0px 1px 1px #24ab99 inset, 0px 0px 8px #24ab99 !important;
    background-color: #fff;
    color: #24ab99;
    border-color: #24ab99;
}

button.login:hover{
    border-color: #24ab99;
    color: #24ab99;
    background-color: #fff;
}

.plans, .help_support, .branch_near  {
    color: #000000;
    font-size: 15px;
}

.register {
    color: #239586;
    font-weight:bold;
    font-size: 15px;
    /*font-size: calc(.6em + .5vw);*/
}

.plans:hover, .help_support:hover, .branch_near:hover, .register:hover  {
    color: #000000;
}

.d-block{
    image-rendering:optimizeQuality;
    object-fit:cover;
    object-position:50% 50%;
    width: auto;
    height: 2800px;
    max-height: 320px;
    border-radius: 4px;
}

.card {
    margin: 50 auto; 
    float: none; 
    margin-bottom: 10px;
    max-width: 60rem;
}

.info {
    text-align: left;
    max-width: 15px;
    max-height: fit-content;
}